<!DOCTYPE html>
<html>
    <%- include('../../layout/head') %>
    <body>
        <%- include('../../layout/header') %>
        <main>
            <%- include('detail', {book: book}) %>
        </main>
    </body>
</html>