<!DOCTYPE html>
<html lang="en">
  <head>
    <title>George & Jessica's Library</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/icons.css">
  </head>
  <body>
    <header>
     <h1>My Library</h1>
     <nav class="navigation">
      <ul> 
        <li><a href="/">View My Library</a></li>
        <li><a href="/new">Add New Book</a></li>
      </ul>
     </nav>
    </header>
    <main>
      <h2>Search by Title or Author</h2>

      <section class="book-list">
        <% results.forEach(book => { %>
          <li class="book-item">
            <img src="<%= book.img_url %>" />
            <h3> <%= book.title %></h3>
            <h4><%= book.author %></h4>
          </li>
        <% })%>
      </section>
    </main>
  </body>
</html>