<header>
    <h1>My Library</h1>
    <nav class="navigation">
        <ul> 
        <li><a href="/">View My Library</a></li>
        <li><a href="/new">Add New Book</a></li>
        </ul>
    </nav>
</header>